.btn {
  padding: 19px 28px;
  border-radius: 8px;
  background: linear-gradient(90deg, #7e90fe 0%, #9873ff 100%);
  color: #fff;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  border: none;
  cursor: pointer;
  transition: 0.3s all;
}
.btn:hover {
  background: linear-gradient(90deg, #9873ff 0%, #7e90fe 100%);
  transition: 0.3s all;
}
